* {
  margin: 0;
}

body {
  background-color: #212351;
  color: #fff;
}

body,
#root {
  min-height: 100vh;
}

a.bg-app {
  background-color: #383877;
  color: #fff;
}

a {
  text-decoration: none;
}

.bg-app {
  background-color: #383877;
}

.bg-app-2 {
  background-color: #31347a;
}

.box {
  overflow-wrap: break-word;
}
